SESSION_SECRET_KEY=my_session_secret_key

KAKAO_REST_API_KEY=b250b9f58
KAKAO_CLIENT_SECRET=5oyPLBQKhlD
KAKAO_REDIRECT_URI=http://127.0.0.1:5000/auth/kakao/callback

DATABASE_URL=sqlite:///mypetsvoice.db


OPENAI_API_KEY=sk-proj-ZR3HDXEiEA

FLASK_ENV=development
LOG_LEVEL=DEBUG
LOG_FILE=logs/app.log