.env
# 루트 + 하위 폴더 db 파일 무시
db
**/db
*.db
# Python cache

# python 어쩌꾸
__pycache__/
*.pyc

# 데이터베이스
.db
instance/

logs/
app.log
# =============== #
# Mac OS 관련 파일 #
# =============== #

# Finder 설정 파일
.DS_Store
.AppleDouble
.LSOverride